<div class="row mt-4">
    <div class="col-md-auto align-self-center">
        <div class="input-group col">
            <span class="input-group-text">N</span>
            <input type="text" class="form-control" style="width:75px" aria-label="Integer" placeholder="40" readonly>
            <button type="button" hx-get="/_html/new" class="btn btn-primary" style="margin-left: 15px;"
                disabled>Compute</button>
        </div>
    </div>
    <div class="col align-self-center">
        <div class="progress" style="height: 38px;">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100">100%</div>
        </div>
    </div>
    <div class="col-md-2 align-self-center">
        <strong>144</strong>
    </div>
</div>